{"lsm6dso_0_platform.dtp.config":{"owner":"lsm6dso","thresh_x":{"type":"flt","ver":"0","data":"500.00000000"},"thresh_y":{"type":"flt","ver":"0","data":"500.00000000"},"thresh_z":{"type":"flt","ver":"0","data":"500.00000000"},"priority":{"type":"flt","ver":"0","data":"0.00000000"},"dur":{"type":"flt","ver":"0","data":"7.00000000"},"quiet":{"type":"flt","ver":"0","data":"3.00000000"},"shock":{"type":"flt","ver":"0","data":"3.00000000"},"dur_sw":{"type":"flt","ver":"0","data":"7.00000000"},"quiet_sw":{"type":"flt","ver":"0","data":"11.00000000"}}}